# Python Introduction

## basics

### About Python
**Python** is open source language.<br>
There are so many third party pacakges available<br>
- Numpy
- Pandas
- Matplotlib

`if True:
    print('hello')
 else:
     print('hiii')`

[pythondocs](https://docs.python.org/3/)

![python](logo.jpg)

$e^{i\pi} + 1 = 0$
Expressions on their own line are surrounded by $$:

$$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$

<div class="alert alert-block alert-info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes. 
If it’s a note, you don’t have to include the word “Note”.
</div>

<div class="alert alert-block alert-success">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes. 
If it’s a note, you don’t have to include the word “Note”.
</div>

<div class="alert alert-block alert-warning">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes. 
If it’s a note, you don’t have to include the word “Note”.
</div>

In [4]:
print(34 +78)
print(4 -7)
print(33/2)
print(56//5)

112
-3
16.5
11

In [5]:
45 *2, 56/3

(90, 18.666666666666668)

In [1]:
name = input()

python

In [12]:
name

'programming'

In [3]:
marks = input("enter student total marks:")

enter student total marks:56

In [4]:
print(marks)
marks

56

'56'

In [8]:
marks = int(marks)

In [9]:
type(marks)

int

In [10]:
name

'python'

In [11]:
name = "programming"
name

'programming'

In [13]:
6.7 *name

TypeError: can't multiply sequence by non-int of type 'float'

In [14]:
L = list(range(5,78,4))
L

[5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77]

In [15]:
t = tuple([3,4])

In [16]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [17]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
help(L.extend([6,7]))

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [23]:
print(L.extend([7.8,7]))

None

In [20]:
L

[5,
 9,
 13,
 17,
 21,
 25,
 29,
 33,
 37,
 41,
 45,
 49,
 53,
 57,
 61,
 65,
 69,
 73,
 77,
 7.8,
 7]

In [24]:
L + 5

TypeError: can only concatenate list (not "int") to list

In [25]:
for i in L:
    i = i +5
    print(i)

10
14
18
22
26
30
34
38
42
46
50
54
58
62
66
70
74
78
82
12.8
12
11
12
12.8
12

In [26]:
for i in range(len(L)):
    L[i] += 5
print(L)

[10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 12.8, 12, 11, 12, 12.8, 12]

In [29]:
L = [i+5 for i in L]
print(L)

[5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 7.800000000000001, 7, 6, 7, 7.800000000000001, 7]

In [30]:
mask = [i%5==0 for i in L]
print(mask)

[True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False, False, False, False]

In [33]:
mask = [not(i%5) for i in L]
print(mask)

[True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False, False, False, False]

In [34]:
bool(-1)

True

In [35]:
bool(False)

False

In [45]:
names = ["G Sumathi","D GireeSha","m SriLaitha","G mounika"]
# o/p Sumathi G, Gireesha D
# proper_names

In [37]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [43]:
#D GireeSha
s = "D GireeSha"
s=s.split()
print(s[1][0].upper() + s[1][1:].lower()+' '+s[0].upper())

Gireesha D

In [46]:
def proper(s):
    s=s.split()
    return s[1][0].upper() + s[1][1:].lower()+' '+s[0].upper()
proper_names = [proper(s) for  s in names]
print(proper_names)

['Sumathi G', 'Gireesha D', 'Srilaitha M', 'Mounika G']

In [38]:
s = "MIDS"
s[2] = 'T'

TypeError: 'str' object does not support item assignment

In [49]:
d = {i:i*i for i in range(2,12,3)}
d

{2: 4, 5: 25, 8: 64, 11: 121}

In [50]:
#{2:True,5:False,8:True,11:False}
new={k:v%4==0 for k,v in d.items()}
new

{2: True, 5: False, 8: True, 11: False}

In [51]:
d.items()

dict_items([(2, 4), (5, 25), (8, 64), (11, 121)])

In [52]:
phone_book ={"suma":934768989,"raju":5237869386,"Hari":90785648}

In [ ]:
# Name Suma
# ==10 ok
# >10 remove digits after 10th digit
# <10 add digit 9 at end

In [55]:
def mobile(n):
    n = str(n)
    l = len(n)
    if l==10:
        return int(n)
    elif l>10:
        return int(n[:10])
    else:
        return int(n + '9'*(10-l))
def contact(s):
    return s.title()

In [56]:
phone_book ={contact(k):mobile(v) for k,v in phone_book.items()}
phone_book

{'Suma': 9347689899, 'Raju': 5237869386, 'Hari': 9078564899}

### Lambda
Inline or anonymus function

In [57]:
p = lambda x:x.title()
p("mohan")

'Mohan'

In [58]:
def p1(x):
    return x.title()
p1("mohan")

'Mohan'

In [59]:
even = lambda n:True if n%2==0 else False
even(7)

False

In [60]:
values = [9,34,56,67]
list(map(even,values))

[False, True, True, False]

In [61]:
values = ['9','34','56','67']
values = list(map(int,values))
values

[9, 34, 56, 67]

In [62]:
s='9 45 78 90 56'
#s =s.split()
s=list(map(int,s.split()))
s

[9, 45, 78, 90, 56]

In [64]:
l1 = [6,7,8,9]
l2 = [2,1,2,1]
#o/p [12,7,16,9]
m =list()
for i in range(len(l1)):
    m.append(l1[i]*l2[i])
m

[12, 7, 16, 9]

In [65]:
m = list(map(lambda a,b: a*b,l1,l2))
m

[12, 7, 16, 9]

In [66]:
d = list(map(lambda a,b: a-b,l1,l2))
d

[4, 6, 6, 8]

In [68]:
even(78)

True

In [69]:
even_numbers = list(filter(even,[89,78,34,23]))
even_numbers

[78, 34]

In [70]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [72]:
names= ["aravind","arun","raju","arjun"]
#o/p ["aravind","arun","arjun"]

In [71]:
s="arjun"
s.startswith('a')

True

In [75]:
def check(s):
    return s.startswith('a')

In [76]:
list(filter(check,names))

['aravind', 'arun', 'arjun']

In [79]:
phone_book["Raju"] =6679065756
phone_book['Giri'] =9673466489
phone_book

{'Suma': 9347689899,
 'Raju': 6679065756,
 'Hari': 9078564899,
 'Giri': 9673466489}

In [82]:
# Get the mobile numbers in the dictionary corresponding names should start 
# with S or R
def check_sr(s):
    return s[0] in 'SR'
check_sr("Kavi")

False

In [83]:
names_sr = list(filter(check_sr,phone_book.keys()))
names_sr

['Suma', 'Raju']

In [84]:
numbers_sr = []
for i in names_sr:
    numbers_sr.append(phone_book[i])
numbers_sr

[9347689899, 6679065756]

Basic Python Practice Problems<br>
https://sites.google.com/view/apssdc-mits-fdp-oct-2019/home